ADMIN_EMAIL=admin@email.com
ADMIN_PASSWORD=admin

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PGADMIN_DEFAULT_EMAIL=admin@email.com
PGADMIN_DEFAULT_PASSWORD=admin

REDIS_PASSWORD=buntime
REDIS_PORT=6379
REDIS_DATABASES=16
REDIS_HOSTS=local:cache:6379

AWS_T3_NANO_MEMORY_LIMIT=500m
AWS_T3_NANO_CPUS=0.25

ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000

KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=event-store-manager:2181
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://event-store:9092
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1

KAFKA_CLUSTERS_0_NAME=buntime
KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=event-store:9092
KAFKA_CLUSTERS_0_ZOOKEEPER=event-store-manager:2181

CODE_DOMAIN=local.buntime.dev
DATABASE_GUI_DOMAIN=local.database-gui.dev
CACHE_GUI_DOMAIN=local.cache-gui.dev
EVENT_STORE_GUI_DOMAIN=local.event-store-gui.dev